<app-loading *ngIf="!artist"></app-loading>

<div class="row mb-5" *ngIf="artist">
  <!-- image -->
  <div class="col-xs-12">
    <img [src]="artist.images | noimage" class="img-thumbnail img-circle">
  </div>

  <div class="col">
    <h3>{{ artist.name }}</h3>
    <a [href]="artist.external_urls.spotify" target="_blank">Ir a página de arista</a>
  </div>

  <!-- information -->
  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-danger">Regresar</button>
  </div>
</div>


<!-- tracks -->

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Album</th>
          <th>Cancion</th>
          <th>Vista previa</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let track of tracks">
          <td><img [src]="track.album.images | noimage" alt="" class="img-thumb"></td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
          <td>
            <audio [src]="track.preview_url" controls></audio>
            <!-- https://developer.spotify.com/documentation/widgets/generate/play-button/ -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

